<div class="container">
	<div class="row">
		<main class="col-md-12">

			<!-- Start your code here -->
			<br>
			<p>This page will provide you with some details about me</p>
			
			<h2>My Details</h2>

			<p>
				I am Neervan Anooroop and I was born on the 6th January 1997 in Mauritius and 
				I am currently studying Database Application Developper at Seneca college.

				My student ID is 140448192.
			</p>
			<!-- End your code here  -->

		</main>
	</div>
</div>