<div class="container">
	<div class="row">
		<main class="col-md-12">

			<!-- Start your code here -->
			<br>
			<h2>Tables</h2>
			
			<table border="1" class="table">
				<caption>Top 3 Drivers in Formula 1</caption>

				<thead>
					<tr>
						<th>Company</th>
						<th>Driver</th>
						<th>Victories</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td rowspan="2">Mercedes</td>
						<td>Lewis Hamilton</td>
						<td>20</td>
					</tr>
					<tr>
						<td>Valtteri Bottas</td>
						<td>10</td>
					</tr>
					<tr>
						<td>Ferrari</td>
						<td>Sebastian Vettel</td>
						<td>15</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<th colspan="2">Total Wins</th>
						<th>45</th>
					</tr>
				</tfoot>
			</table>

			<table border="1" class="table">
				<caption>NBA all time top scorers</caption>
			
				<thead>
					<tr>
						<th>Team</th>
						<th>Player</th>
						<th>Points</th>
					</tr>
				</thead>
			
				<tbody>
					<tr>
						<td rowspan="2">Lakers</td>
						<td>Kareem Abdul-Jabbar</td>
						<td>38387</td>
					</tr>
					<tr>
						<td>Lebron James</td>
						<td>33817</td>
					</tr>
					<tr>
						<td>Utah Jazz</td>
						<td>Karl Malone</td>
						<td>36928</td>
					</tr>
				</tbody>
			
				<tfoot>
					<tr>
						<th colspan="2">Total</th>
						<th>109132</th>
					</tr>
				</tfoot>
			</table>

			<p>This section consists of two random table which uses the caption, 
				thead, tbody, tfoot, 
				th, td, tr, 
				the "rowspan" property and the "colspan" property.</p>
			<p>
				The first table above shows the details of the top 3 drivers in Formula 1
				for the 2020 season.
			</p>
			<p>The second table shows the details of the all time top scorers in NBA history.</p>

			<h2>Lists</h2>

			<ol>
				<li>Fruits
					<ul>
						<li>Apple</li>
						<li>Orange</li>
						<li>Grapes</li>
						<li>Peach</li>
					</ul>
				</li>
				<li> Vegetables
					<ul>
						<li>Carrot</li>
						<li>Lettuce</li>
						<li>Tomato</li>
					</ul>
				</li>
				<li>Meats
					<ul>
						<li>Chicken</li>
						<li>Bacon</li>
						<li>Beef</li>
					</ul>
				</li>
				<li>Drinks
					<ul>
						<li>Juice</li>
						<li>Soft Drinks</li>
						<li>Water</li>
					</ul>
				</li>
				<li>Desserts
					<ul>
						<li>Cheese Cake</li>
						<li>Brownie</li>
						<li>Ice Cream</li>
					</ul>
				</li>
			</ol>

			<p>This sections consists of a single ordered list with at least 3 unordered lists each</p>

			<p>The list consists of food types available in a typical restaurant</p>

			<h2>Images</h2>

			<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Picture of a snowboarder">
			<img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg" alt="Picture of a flower">
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Clomipramine3DanBS.gif" alt="Picture of an atom">
			
			<p>
				This section consists of 3 images that includes the alt text. 
				These images can be reused for "noncommercial" purposes.
			</p>

			<h2>Audio</h2>
			
			<audio controls>
				<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.mp3" type="audio/mp3">
				<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/Track03.ogg" type="audio/ogg">
				<p>Sorry, your browser doesn't support HTML5 audio.</p>
			</audio>

			<p>This section consists of an audio player which plays classical music</p>

			<h2>Video</h2>

			<video width="320" height="240" controls>
				<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.mp4" type="video/mp4">
				<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.ogg" type="video/ogg">
				<source src="https://ict.senecacollege.ca/~patrick.crawford/shared/winter-2020/web700/A3/movie.webm" type="video/webm">
				<p>Sorry, your browser doesn't support HTML5 video</p>
			</video>

			<p>The section consists of a video player which shows a bear playing in a stream</p>

			<!-- End your code here  -->

		</main>
	</div>
</div>